[2015-10-30 00:39] ericcastro opened #1 "support for CC2451 ?"
I spent a good amount of time doing all the wiring only to find out this is not compatible with the CC2451 :-(

would it be too difficult to support it ?

[2015-10-30 09:39] wavesoft commented on #1
Hello ericcastro,

the library itself implements the CC Debugger protocol from TI, therefore it should be able to flash the whole CC253x/4x family. However there need to be some changes to the examples, since they were tailored to the BLE112/BLE113 commercial modules (that need a licence key in some particular memory address etc.)
- The arduino proxy can stay as-is, since it's very low-level
- The

[2015-10-30 10:06] wavesoft commented on #1
You will also need to update the chipID guard (ccdebugger.py:95-96)

[code]

[2015-10-30 10:08] ericcastro commented on #1
trying this now. will let you know how it goes!

[2015-10-30 10:15] ericcastro commented on #1
ok, output looks much better now

[code]

let me know if this is correct / expected, and what do we need to flash it. thanks for the help!

[2015-10-30 10:34] wavesoft commented on #1
Hmm.. the device seems to respond properly, however the memory values seems a bit off. This either means that it couldn't read the CHIPINFO0 (0x6276) register (ex. different instructions between the two chips), or the register is actually zero.

Try to read the CHIPID Register (that should be 0x4113) or any other register that you know it's value in order to check if this is register issue:

[code

[2015-10-30 10:44] ericcastro commented on #1
thanks, I already left home for work but will try this tonight and will let you know.

[2015-11-01 12:53] ericcastro commented on #1
ok I tried this and not getting anything very interesting so far
the lines:

[code]

will output:

[code]

also, I uncommented some of the output lines you mentioned to remove just to see if there was anything there, I got:

[code]

I suspect there could be something wrong with the wiring I made ? I may have misunderstood something with the voltage dividers maybe ? Here is a picture of my breadboa

[2016-01-30 13:49] Netoperz opened #2 "Clarification of use of the library and tools needed in addition to info page."
Hello,
I would like to ask a few i think simple and probably dummy questions to be sure what can I expect:

1. The library makes the arduino CC Debugger hardware (alike) if you do not have one around and can be used as programmer/flasher for firmware files for CC2540 BT4.0 modules , and it doesn't mather what is the actual vendor of the PCB, for example can I use it to flash new firmware to HC-08

[2016-01-31 19:31] wavesoft commented on #2
Hello @Netoperz,

You are correct the Arduino sketch will make your board able to communicate with the CC2540 chip. You just need to wire your arduino accordingly to the `DD`, `DC` and `RST` pins and you are ready to go.

I didn't completely understand what you are trying to do here. The CC Debug protocol allows you to flash whatever part of memory you want, from completely overwriting the entire

[2016-02-01 02:12] Netoperz commented on #2
Thank You for response, That is what i was afraid while reading the info about use of this software.
If You can, you may add that short info about need of containing the loader for example and the firmware in one file. Because most software dedicated for CC debugger is capable of writing only a part of the memory that you need, so you can flash only boot loader for example.

In my case i have to c

[2016-02-01 07:49] wavesoft commented on #2
Well, note that the python scripts are just some reference implementation of the `CCLib` library. In principle you can have full control over the chip with the `python/cclib` library.

For example, I just updated the `cc_write_flash.py` script and made the full chip erase an optional feature. You can now use it to flash only the region you are interested in.

Keep in mind though that the memory of

[2016-02-01 15:15] wavesoft commented on #1
Hello @ericcastro, sorry for my late reply, but I was a bit buried with work.
I see some problems with your wiring (top right voltage divider).

You can check this diagram for reference:

<img src="https://raw.githubusercontent.com/wavesoft/CCLib/master/Schematic/arduino-wiring.png" width="550" />

Let me know if you manage to get this working in order to update the my compatibility table ;)

[2016-02-01 18:56] wavesoft commented on #2
Hello @Netoperz!  I don't know if you had any luck using this scripts, but just to let you know, I have updated lot's of pieces in the code, including an offset parameter that you can use to program arbitrary code regions (not tested though)!

If you are still interested in using this project let me know of your results!

[2016-02-01 18:56] #2 closed

[2016-02-04 18:36] Netoperz commented on #2
Hello, i will test the code today, i was so freaking busy, and the project with BT4.0 was a bit delayed (on the client side) so i dropped playing wit it and took the things with first priority to finish. Now i have got most done so i can take over BLE part.

I'll check the new source and i'll try to use it on my chip.
This tool you are providing is a very useful thing, and now the BLE 4.0 is getti

[2016-09-04 23:04] mgrapiniak opened #3 "Error while running cc_info.py Python script"
I have connected Arduino UNO with CCLi proxy and ran following tool :
`cc_info.py`
 which result in following error:
`ERROR: ord() expected a character, but string of length 0 found`

My OS is: Ubuntu 14.04.3 LTS
Arduino recognized as /dev/ttyACM0

Please advise.

[2016-09-05 12:25] wavesoft commented on #3
Hello @mgrapiniak , it looks like the serial port could not be read. Are you running the tool like this?

[code]

[2016-09-05 20:36] mgrapiniak commented on #3
Hi,

I've tried to run cc_info with and without param. Checked dmesg for USB device and it looks it was detected without any issues.
When I open cc_info I can see some activity on Arduinos LED's so I guess some communication is being done between the tool and arduino although I have to say that running arduino connected without any rx gives exactly the same error. Any idea why this happens?

Cheer

[2016-10-05 10:54] vprithiviraj opened #4 "showing error in __init__.py"
![untitled](https://cloud.githubusercontent.com/assets/16076201/19110586/71d3f1ce-8b18-11e6-8a64-676907a1ab0a.png)
while trying to debug the CC2541 chip from the terminal i change into the folder which is having that source files and i ran the
    CC_info.py COM11
  from the cmd prompt terminal. then it was showing the paranthesis error for print functions inside the source files, then i cleared a

[2016-10-05 14:11] vprithiviraj opened #5 "python 2.7 or later is asking for me to encode"
when i'm trying to get the chip information by using cc_info.py through cygwin or command prompt terminal. it is telling that
             unicode strings are not supported, please encode to bytes: '▒\x00\x00\x00
    Not able to identify what is the error happened only i'm new to the python language help me in some way.

[2016-10-05 14:40] wavesoft commented on #5
Hello @vprithiviraj , can you tell me on which file is this error? Unfortunately I don't have any windows machine around and I cannot debug this.

[2016-10-05 15:21] wavesoft commented on #4
Hello @vprithiviraj , I guess this was due to wrong Python version? Assuming that at least you got pass by this problem judging by your comment on #5 .

[2016-10-05 16:24] vprithiviraj commented on #4
nope still both the problems persists. on #5 i commented the line which was making the attribute error.
  that is the line 60 of **init**.py. I'm using python34. is there any recommemded version is available for this project?

thanks in advance

[2016-10-05 16:31] vprithiviraj commented on #5
here with i attached which are all the lines the terminal is showing like that. i tried to run in cygwin terminal. there i didn't get the detailed information about those things. so i did wite the MS command prompt and gave you as a screenshot.

thanks in advance
![q2](https://cloud.githubusercontent.com/assets/16076201/19122244/2ff53cd4-8b47-11e6-9fe0-8bb438cc44e1.png)

[2016-10-05 17:24] wavesoft commented on #4
Yes, unfortunately this code is not yet compatible with python 3.x (they have changed a couple of things and the new versions are not backwards-compatible). So I guess you tried python 2.7 on #5 and you got this encoding error, right? I will have a look.

[2016-10-05 17:28] wavesoft commented on #5
Ok, it looks that there is a system exception somewhere and the error message is not on english. I guess you are using a non-english windows system?

For a quick solution, I would say to open `cc_info.py`, go to line 30 and change what's in the print parenthesis with:

[code]

let me know if this helps

[2016-10-05 17:35] vprithiviraj commented on #5
python 2.7.11 is recommended only know?

I have to install that package first dude..

[2016-10-05 17:37] wavesoft commented on #5
Yes, I could spend some time to make this code compatible with python 3.x there is not much work needed. Thanks for reporting this 👍

[2016-10-05 17:38] wavesoft opened #6 "Add support for python 3.x"
The code currently uses python 2.x quicks. Let's make it support python 3.x too.

[2016-10-05 18:13] vprithiviraj commented on #5
thanks for your patience. Actually it took some time for installation of python 2.7.11. now the different error came comparing before. i hope u can understand by below screenshot
![q3](https://cloud.githubusercontent.com/assets/16076201/19125609/67ec61ea-8b55-11e6-8183-3abd882a9e8e.png)

[2016-10-05 20:44] wavesoft commented on #5
It looks you are missing the `serial` python module. Make sure to run the following in the project folder in order to install everything:

[code]

Ps. Check this section on the readme: https://github.com/wavesoft/CCLib#2-prepare-your-software

[2016-10-06 03:23] vprithiviraj commented on #5
i have installed the pyserial using the above mentioned command before only. but still that error is coming.

i downloaded separate pyserial as exe format and installed after that also same error.

[2016-10-06 08:40] aguaviva opened #7 "trying to read the firmware of a cc2541 0x41.. would return all bytes as 0xFF"
cc_info seems to return ok'ish data (but for the license, bt address and HW version)
Here is the output of ble_info.py What could possibly be going on? (I am asking because I presume it might be somethihg obvious I am not seeing)

INFO: Found a CC2540/41 chip on /dev/ttyUSB0

Chip information:
      Chip ID : 0x4113
   Flash size : 128 Kb
    Page size : 2 Kb
    SRAM size : 8 Kb
          USB : N

[2016-10-06 08:47] wavesoft commented on #5
It sounds like `PYTHONPATH` is not defined in your environment, so python doesn't know where to look for modules. Have a look here: https://stackoverflow.com/questions/3701646/how-to-add-to-the-pythonpath-in-windows-7

[2016-10-06 08:48] wavesoft commented on #7
Hello @aguaviva,
I think that's a left-over from my tests with the BLE112/BLE113 modules. If you are not using this library with these modules, you are good to go, because the memory region containing this information should be empty (0xff).

[2016-10-06 09:16] vprithiviraj commented on #5
NO.. it is not happening now also dude. same error of last screenshot i shared you

it is telling only about the module named as serial is not available. so will i be able to clear the output by adding the python script in the folder where i copied all these cc debugging python scripts.

is there any particular location i should keep all the cc debugging python scripts for make the serial to get d

[2016-10-06 09:36] aguaviva commented on #7
Excellent, please let me know how can I help. If you have any ideas/links I'll be happy to investigate myself too.

Thanks for the excellent lib!! :)

[2016-10-07 06:25] vprithiviraj commented on #5
can you respond for this when you are free?

[2016-10-07 06:58] wavesoft commented on #5
Hey @vprithiviraj , it seems that something is going wrong with your python installation. From a quick google search I found this, which I am not sure it's helpful : http://stackoverflow.com/questions/18946286/python3-installed-successfully-but-cannot-be-opened-in-terminal

So, one thing to check is that your `PYTHONPATH` variable points to the same version of the directory that your python versio

[2016-10-07 14:33] vprithiviraj commented on #5
today i cleared all my python errors araised. but not it is telling could not read from the serial port. So what can be possibilities for this??

[2016-10-07 17:24] wavesoft commented on #5
A few things:
1. First the obvious, make sure it's correctly connected and you see the COM port in the windows devices.
2. Make sure you are using the correct port (use the arduino IDE -> Open the Serial Monitor and see if it succeeds).
3. Make sure you have flashed the correct thing to your arduino.

Also, can you paste a screenshot with the error. I want to see if this is an exception or an erro

[2016-10-12 05:11] vprithiviraj commented on #5
Hi, i was not able to get back to my work bcoz of festival holidays. now i have shared the screenshot of the error. kindly look into that.
![q5](https://cloud.githubusercontent.com/assets/16076201/19298076/44967f1a-9068-11e6-8a63-2fc164dc84df.png)

when i didn't connect the arduno Uno, the com port the error will look like the second response

And also i'm doubtful that i'm using HM-10 breakout mo

[2016-10-17 20:33] aguaviva commented on #7
Hi again, do you have any pointers/resources I could look into for fixing this bug myself? (Unless you were planning on looking into it yourself anytime soon)

[2016-10-27 08:46] vprithiviraj commented on #5
Hi Mr.wavesoft, Can you look into my problem? is there any possibility problem with the arduino sketch i dumped in Arduino Uno. Please let me know if you found any solution for this.

Thanks in advance.

[2016-10-31 15:15] wavesoft commented on #7
Hello @aguaviva , I think I am wrong on my statement above. I forgot that I actually moved the license code to `ble_info.py`. Keep in mind that the `ble_xxx.py` utilities are useful only for the BlueGiga BLEXXX modules that are also using the CC2540 chip. Otherwise, the output looks reasonable.

Shall I assume that you tried the `cc_read_flash.py` and it's output is also everything `0xff` ?

[2016-10-31 15:29] wavesoft commented on #5
Hello @vprithiviraj . From both of these errors it looks that there is something wrong with the communication between your PC and your Arduino. Unfortunately I haven't tested this code on windows and I am not 100% sure that this is not purely a library issue.

What I see is the following:
1. The `cc_info.py` opens the COM11 port successfully
2. The program sends a PING message. From the looks of i

[2016-11-01 17:00] aguaviva commented on #7
Hi Ioanis,

Yes I tried cc_read_flash.py and that returned all 0xff's as well.

I saw you removed the bug label, is this not a bug?

[2016-11-01 22:33] wavesoft commented on #7
Hello @aguaviva , I thought the bug was about the extraneous "Firmware information" message. If they were present in the `cc_info.py`, this was a bug. (This actually **was** a case in the previous version -- I forgot that I actually separated that part in the `ble_info.py`).

Regarding the `0xff` that doesn't sound like a library issue. This can be caused by a few things:
- Your flash is erased an

[2016-11-21 10:37] Sjord opened #9 "CC2530 support"
I have [this CC2530 board](http://www.dx.com/p/cc2530f256rhar-cc2530-zigbee-development-board-w-antenna-green-392654). It seems to work with the CC254X driver. Since the CC2530 and CC2540 share one [user guide](http://www.ti.com/lit/ug/swru191f/swru191f.pdf), it would seem that they are totally compatible.

I used a [Teensy](https://www.pjrc.com/teensy/) as connector. Since it runs 3.3V, I didn't

[2016-11-22 23:20] wavesoft commented on #9
Hello @Sjord and thanks a lot for sharing your experience! From a quick look, it seems that your arduino can communicate with the debugging interface of the `CC2530`, so first thing is  :heavy_check_mark:

However to actually perform some flash I/O operations the library will have to invoke CPU instructions, thus making the library chip-dependent. Now, since both chips are sharing the same spec, a

[2016-11-23 19:21] Sjord commented on #9
I tried `cc_read_flash.py` and it seems to work. It creates [this output file](https://gist.github.com/Sjord/98a68947b65fab98061d29a752b1ff6a).

[2016-11-23 21:27] Sjord commented on #9
`cc_write_flash.py` seems to fail:

[code]
I will look into this later.

[2016-11-27 13:14] wavesoft commented on #9
Hello @Sjord , is the #10 actually closing this issue? Or do you still have issues flashing the chip?

[2016-11-28 08:23] Sjord commented on #9
I still have issues flashing this chip, and I think I know why. The flash on the CC2530 (and on the other related hardware) can be written in 4 byte words on 2 KB pages. The [hex file](https://gist.github.com/Sjord/d3ef53b2a5ded6bd2f9598b6412842ff) I use, however, tries to write parts of arbitrary lengths on arbitrary positions. This is not possible in the way CCLib tries to do it currently.

For

[2016-11-28 09:29] wavesoft commented on #9
Ah, I see your problem. And yes, it's true that the current version only writes continuous memory segments.

However, keep in mind that the high-level [`CC254X .writeCODE`](https://github.com/wavesoft/CCLib/blob/master/Python/cclib/chip/cc254x.py#L509) function can already perform a erase+write on arbitrary offsets so it shouldn't be difficult to add non-continuous hex file support to the library.

[2016-11-28 09:29] #9 closed

[2016-12-23 16:37] ilhangrn opened #13 "support for CC2530"
I think your studies is contain CC2530 support because i saw that `Chip-specific code for CC253X and CC2540/41 SOC` on **cc254x.py** file. I changed name of file and class as `cc2530 `for working with **cc2530**. then I registered this class on **ccdebugger.py** file.
I know cc2540/41 commands and cc2530 commands are same (only ieee address is different). When i run **cc_info.py**  it giving error

[2016-12-24 09:28] wavesoft commented on #13
Hello @ilhangrn ,
it looks like the script cannot locate an arduino with a `CCLib_proxy` sketch flashed to it. Please make sure to:

1. Have the [correct firmware](https://github.com/wavesoft/CCLib/tree/master/Arduino/CCLib) flashed to your arduino
2. Ensure that `/dev/ttyUSB0` is the correct port were it exposes the serial interface (could be `/dev/ttyACM0` for example).

[2016-12-24 09:46] wavesoft commented on #6
Added on a1b7c33542a00d6b980d0d71d1bf80f2557fc795

[2016-12-24 09:46] #6 closed

[2016-12-24 09:48] wavesoft commented on #4
Hey @vprithiviraj , I am not sure if you have fixed your problem, but I now added Python3 support to the project. Feel free to re-open this issue if you have further problems.

[2016-12-24 09:48] #4 closed

[2016-12-24 12:32] wavesoft commented on #1
Hey @ericcastro do you have any update on this? Otherwise I will close this issue.

[2016-12-24 12:35] wavesoft commented on #3
Hey @mgrapiniak , from your description I would assume that there was something wrong with your serial port. If you can confirm that you can communicate with the serial port (ex. using a serial terminal) then I will need more information from you in order to debug this.

In the meantime, there were a couple of updates in the project. Have a look if the latest version can help you.

Otherwise, I wi

[2016-12-24 12:36] wavesoft commented on #5
Hey @vprithiviraj , did you have any success eventually? I will get access to a windows computer soon, so I can properly debug this on windows tool. Otherwise, I will close this issue.

[2016-12-24 12:37] wavesoft commented on #7
Hey @aguaviva , what's the status with this issue? Did you manage to address your problem, or it was still getting `0xff` every time? Otherwise I will close this issue.

[2016-12-24 12:43] aguaviva commented on #7
Hi Ioannis! thanks for following up!

The python script seems to successfully detect the chip ID and the chip status, so it doesnt seem to be any of the 3 issues you mentioned. I still need to try a flash/read cycle, although I'd really like to download the firmware though.

[2016-12-24 14:34] ArtemTomin opened #14 "Problem with CClib proxy"
Hello! I have such error after ./cc_info.py -p /dev/cu.usbmodem1411

ERROR: Could not find CCLib_proxy device on port /dev/cu.usbmodem1411

I use Arduino UNO

[2016-12-24 23:23] wavesoft commented on #14
Hello @ArtemTomin ,
it looks that the script cannot communicate with your Arduino on the port you specified.

I *just* pushed some changes on master that enable auto-detection. This means that `cc_*.py` scripts will now auto-detect where is the `CCLib_proxy` connected. Can you try updating to the current latest version and trying again, without specifying any `-p` or `CC_SERIAL` environment variab

[2016-12-25 10:17] ArtemTomin commented on #14
Dear **@wavesoft**,
The some problem, but o lil bit different error:
ERROR: Could not detect a CCLib_proxy connected on any serial port

[2016-12-25 10:49] wavesoft commented on #14
Hey @ArtemTomin ,
It looks that there is a problem with the `pyserial` library. I think I have fixed it on the current master (just pushed another commit) can you try it and let me know?

[2016-12-25 10:52] wavesoft commented on #13
Hey @ilhangrn , I just pushed a version that performs auto-detection on the serial ports (if you don't specify the `-p` argument). Can you check-out the latest master a look again?

[2016-12-25 13:19] vprithiviraj commented on #5
no I have not got any success. COM port error only use to come for me always

i bought the module from
[https://www.fasttech.com/products/0/10004051/3875400-cc2541-bluetooth-4-0-ble-transparent-serial-data](url)
this module is having inbuilt HM-10 firmware. Will that firmware disturb our operation. actually before i thought our process will erase and write our new program inside. but, now i'm susp

[2016-12-25 15:16] ArtemTomin commented on #14
Hi @wavesoft,
Thank you for such urgent help. But, unfortunately, it still doesn't work. Now, after ./cc_info.py or ./cc_info.py -p /dev/cu.usbmodem1411 just no reaction. Just is blinked cursor.

[2016-12-25 15:19] ArtemTomin commented on #14
![default](https://cloud.githubusercontent.com/assets/24753825/21471777/ac5c2258-cace-11e6-9b42-b8abac0e8d87.jpg)

[2016-12-26 11:02] wavesoft commented on #14
Hey @ArtemTomin , do you see the Arduino LED standing still? If yes, can you try unplugging & plugging it again?

Also, try to use the latest Arduino library. I just pushed some changes that prohibits this lockdown from happening again.

[2016-12-26 17:10] ArtemTomin commented on #14
Hi @wavesoft,
Should I try with connected CC device, such as BLE112? Now, the some trouble. But i didn't connect any device, only arduino UNO. Did you see my screenshot?

[2016-12-26 20:08] wavesoft commented on #14
Hey @ArtemTomin , unfortunately I can't see your screenshot.
You don't have to have a CC device connected to get a handshake confirmation. You should get a warning regarding wrong wiring. Are you sure the Arduino sketch is the correct?

[2016-12-26 20:10] ArtemTomin commented on #14
Hi @wavesoft, I use simple Arduino UNO, I've uploaded your sketch from Example folder without any changes.

[2016-12-26 20:25] wavesoft commented on #14
Ok, that's interesting. I from the port name I guess you are on Mac OSX? Which version? And which Python version are you using?

[2016-12-26 20:44] wavesoft commented on #14
Can you also try to do a manual ping to see if there is something wrong? You can type the following:

[code]

If everything goes well you should see something like this:

[code]

If not, something is wrong with your set-up.

[2016-12-26 21:52] ArtemTomin commented on #14
I see this:
[1] 24406
iMac-Artem:~ Artem$ 1+0 records in
1+0 records out
3 bytes transferred in 0.000024 secs (125829 bytes/sec)
00000000  41 69 38                                          |Ai8|
00000003

[1]+  Done                    dd if=/dev/cu.usbmodem1411 bs=3 count=1 | hexdump -C

[2016-12-26 21:56] ArtemTomin commented on #14
When I try to connect with ./cc_info.py -p /dev/cu.usbmodem1411 I see just frozen cursor. If i disconnect Arduino, i see immediately ERROR: Could not find CCLib_proxy device on port /dev/cu.usbmodem1411

[2016-12-26 23:07] wavesoft commented on #14
The response that I see there does not really look like the one that I would expect from the sketch. Are you sure that's the correct port? Could it be that there are 2 ports for the arduino board? One for the bootloader and one for the serial port?

I haven't used an Arduino UNO, so I can't say for sure.

[2016-12-27 07:47] ArtemTomin commented on #14
I use OS X El Capitan. Python 3.
Yes, this is correct port, i use it other my application with arduino and it works fine. There is only one port. My Mac see this port and bluetooth, that all.

[2016-12-27 10:09] wavesoft commented on #14
Hey @ArtemTomin , that looks like ASCII output. Can you try connecting using the Arduino Serial Monitor, type something random and hit enter? We might get something more useful out of it.

[2016-12-27 11:52] ericcastro commented on #1
oh, I'm sorry I never did reply. Actually I was able to use a different utility (CCLoader by RedBearLabs) in order to successfully flash my CC2451 - so from my end this is no longer relevant.

Thanks - Eric

[2016-12-27 13:50] wavesoft commented on #1
Thanks for the reply @ericcastro

[2016-12-27 13:50] #1 closed

[2016-12-27 20:52] ArtemTomin commented on #14
Hi @wavesoft !
I did it, speed is 9600. Response is just ????????? Unreadable symbols.

[2016-12-29 14:56] Sjord opened #16 "Start linear address in hex file"
I have a HEX file with a 05 record type in it, start linear address:

[code]

As you can see there is an instruction that tries to set the start address to 0x1305. Also, the first instruction at location 0x0000 is a LJMP to 0x1305. Currently CCLib will [raise an exception](https://github.com/wavesoft/CCLib/blob/master/Python/cclib/cchex.py#L366) because it does not support the 05 record type.

I a

[2017-01-02 15:17] ilhangrn commented on #13
Hi, I did what you said. it is connected to ttyUSB0. As a result it is staying on _INFO: checking /dev/ttyUSB0_. is there something is not wroten on readme ?

[2017-01-17 19:49] Ivening commented on #14
Hello, @wavesoft, I have the same problem as @ArtemTomin, but I use OS Windows for this.
The symptoms are the same - when I launch cc_info.py I get a frozen cursor and when disconnect USB cable out of Arduino UNO, it says ERROR: Could not find CCLib_proxy device on port com14. I use Python 2.7, Win7 x64, Arduino UNO, the sketch is without any modifications - as in your library.
I am going to flash

[2017-03-09 14:05] ilhangrn commented on #13
hi @wavesoft i convert your codes to c# project. Now i can read any where on memory and i can take id and serial, read-write config. But i could not write with writeXDATA and writeCODE. Do you know what can be problem in this issue ?

[2017-03-15 15:12] ilhangrn commented on #13
i passed to python again, it was not working. Then i removed outodetect. It was not enough. Program could not pass over readframe. i changed if and elif comparison as `if ord(status) == ANS_ERROR:` and `elif ord(status) != ANS_OK: `After that i removed `print(self.readFrame(raiseException))` part on sendFrame. Now it is working for CC2530. But it is very slow. is there any way to get fast ?

[2017-03-28 23:36] wsowa commented on #16
I hit the same problem.
Is it a valid workaround to remove that line from hex file and reset the chip when done with programming?

[2017-09-26 08:59] AndrewLinden opened #19 "flashing TI CC2531 stick with TI Zstack ZNP firmware"
Just wanted to say that I successfully flashed the CC2531 USB stick with the TI provided firmware that can be found here: https://github.com/mtornblad/zstack-1.2.2a.44539/tree/master/CC2531

I used Arduino MKR1000 board which is a 3.3V board so I just connected CC_DD_I and CC_DD_O together.
I used the "Write anywhere" branch from @Sjord https://github.com/wavesoft/CCLib/pull/18
And I had to remove

[2017-09-26 09:00] AndrewLinden commented on #16
Removing the line from the hex file worked for me

[2017-11-08 13:17] maartendamen commented on #14
Did you ever get this resolved?
I am running into the same issues. It seems that the proxy is ok when I send manual commands using Realterm. Maybe this in the version of pyserial that is used.

Before digging further, did anyone get this resolved?

[2017-11-15 15:29] mikkel75 opened #20 "Suggestion to change cc_delay to make it MCU speed agnostic"
It seems like the cc_delay function is heavily dependent on MCU speed, thus the timing on the CC interface won't be valid for faster MCUs. I suggest to change the function to take the MCU speed into account or use Arduino delay functions.

Any input?

[2018-01-02 16:16] SidMorad opened #21 "Testing CC2541"
(My experience and knowledge with the topic is very limited, please be inform in advance, thanks.)

To dive into my testing environment, I did setup my board and when I do run following command:
`./cc_info.py -p /dev/ttyACM0`

I do see lights blinking in my Arduino UNO then light of my device(powered with CC2541 chip) blink for three times, but I don't see any output in my console, it hangs there

[2018-01-16 21:48] Corbomit opened #22 "Testing CC2531"
Too bad, it seems not to work with a CC2531, neither on Mac, Raspian nor Debian.

The Dongle is found:
[    3.273108] usb 1-1.2: new full-speed USB device number 4 using dwc_otg
[    3.425810] usb 1-1.2: New USB device found, idVendor=0451, idProduct=16ae
[    3.436546] usb 1-1.2: New USB device strings: Mfr=1, Product=2, SerialNumber=0
[    3.451040] usb 1-1.2: Product: CC2531 USB Dongle
[    3.4

[2018-01-21 11:52] Ingramz commented on #22
I bought one of the sticks as well and it did not work for me either. What finally let me flash it was https://github.com/RedBearLab/CCLoader on windows with prebuilt exe, arduino leonardo and a level shifter (not voltage divider) to safely interface with the stick.

I am not trying to discourage using CCLib, just that this might help get the ball rolling.

[2018-04-01 19:13] DurandA commented on #19
Thanks @AndrewLinden for sharing this!

[2018-04-25 22:21] janinge commented on #22
Works fine here on macOS 10.13.4, with a Arduino Due (so no voltage divider, and the native USB port with SerialUSB).

INFO: Found a CC2531 chip on /dev/cu.usbmodem14921

      Chip ID : 0xb524
   Flash size : 256 Kb
    Page size : 2 Kb
    SRAM size : 8 Kb
          USB : Yes

 IEEE Address : 00124b000e89
           PC : 0000

 [ ] CHIP_ERASE_BUSY
 [ ] PCON_IDLE
 [X] CPU_HALTED
 [ ] PM_ACTIVE
 [

[2018-05-15 12:01] balonchiks commented on #22
the chip is being detected properly (same as in the reply above), but when flashing it gives out the following error on MacOS 10.13.4 for me:

ERROR: Flash verification error on offset 0x0000

[code]

Any idea what can it be?

[2018-07-27 13:58] vmsh0 opened #23 "Windows support"
Hello,

Should this work on Windows? The Python script waits indefinitely upon starting it on the Arduino's serial port, before printing anything.

[2018-08-18 22:54] miwinski commented on #22
I understand this post is few months old but I've just hit same issue as @balonchiks. Solved it by adding
--erase at the end of cc_write.py command (I believe -e would also work as it clearly says it in the official instuction. Flashed CC2531 with Arduino Uno with no resistors.

[2018-10-02 15:31] Donderda commented on #22
Hi together! How did you wire your UNO? If I try to run the cc_info.py, I get only "No chip found. Check your connection and/or wiring". My CC2531 gets green for a short time. But nothing else happen :(

[2018-10-02 18:40] Donderda commented on #22
Where did you get the bin from?

[2018-10-03 20:59] Ingramz commented on #22
It's right there, in a folder named Windows

[2018-10-05 16:35] korol-sas commented on #23
the same problem until I found a solution

[2018-10-05 21:35] rgabo74 commented on #23
Same here. So what was the solution?

[2018-10-08 07:28] korol-sas commented on #23
could not find a solution

[2018-10-08 10:18] korol-sas commented on #23
I use this fork - https://github.com/kirovilya/CCLib it resolve my prev problems.

But I now had another problem, my chip is not responding, I have already rechecked everything.

[code]

[2018-10-08 17:10] korol-sas opened #24 "СС2530 Connect promlem"
Hi. I have a [XL2530-D01 module (based CC2530 F256)](https://www.amazon.co.uk/2-4GHz-CC2530F256-Wireless-Communication-Evaluation/dp/B00M9ZKMCA)

I connect the module to the Arduino as follows
![wiring schema](http://oi67.tinypic.com/2dumh4o.jpg)

Arduino sketch default, with pins:
[code]

And i have error (no response chip) (chip id always return 0x00)

More outputs from cc_info.py
[code]

[2018-10-11 18:33] mmithril opened #25 "Flashing CC2531 with approx 250 KB firmware takes 2 hours"
[code]

Each percent in final stage takes approximatelly 60 s. Is it inherent to the CC Debug protocol?

[2018-11-19 07:50] pbochenski commented on #16
maybe the line should be skipped in the `cchex.py` so the exception is not raised?

[2018-12-17 14:02] abhaysbharadwaj opened #26 "cc_write_flash.py ERROR: IOError: Line 514: Unknown record type 05"
Hi,
I am successfully able to read the "Device Info" using the "cc_info.py" file. But when I try to write my firmware, I get the following error:
IOError: Line 514: Unknown record type 05

![image](https://user-images.githubusercontent.com/14924063/50091826-60f80c80-0232-11e9-9124-83f29900216b.png)

Using python Version 2.7.13

[2018-12-19 00:09] vogler commented on #14
I have the same problem using a Wemos D1 mini. Tried two different MacBooks and different versions of pyserial. How can I debug this?

[code]

[2018-12-19 00:22] vogler commented on #14
The originally raised IOError is `ERROR: CCDebugger responded with an unknown status (0xa4)` where the status changes (b4, c8, c8, ca, b4, b2, 30, ...).
Tried pyserial 3.0.1 and 3.4. Python is 2.7.15.

[2018-12-19 20:44] vogler commented on #14
Tried it on my Windows PC and it works 🤔
At least the Wemos D1 mini replied correctly right away.
For it to be able to talk to the CC2531, I had to add the `-E` option - before that I just got `No chip found. Check your connection and/or wiring!`.

[2018-12-20 20:21] rkantos commented on #22
How and which pins did you use with your Arduino Due and the CC2531?

[2018-12-31 19:06] jbkuma commented on #26
I am getting the same error, on the same lines, from a different firmware which kicks out IOERrror: Line 15496...

[2019-01-01 18:51] henriz commented on #26
This is an omission in the python code. Apparently the newer firmware have a record of type 05, and this is not implemented in the python library.

The code accepts 0x00, 0x01, 0x02 and 0x04.

See:
https://en.wikipedia.org/wiki/Intel_HEX#Record_types

I am currently in the process of adding 0x05 record type to the code. I'll report back when finished and working.

[2019-01-01 18:54] abhaysbharadwaj commented on #26
Hi,
I was able to delete that line that was causing the error (I know it's not
right, and not at all recommend), but after that, the module got flashed,
and it is working without causing any noticeable issue.
I'm just putting it out there so that it may help someone, but It's not the recommended way to tackle the
issue.

[2019-01-01 19:47] henriz commented on #26
Actually, I think it's ok. As on that wiki page, the 0x05 record means the value should be written to the EIP register. However, these chips have no such register.

[2019-01-01 19:52] abhaysbharadwaj commented on #26
That's great news! This can be a temporary workaround.

[2019-01-13 09:09] ReDetection opened #27 "CC2531 does not respond"
My issue looks pretty much as #26, however I have different target device.

My setup: CC2531 on the usb dongle, Arduino nano (tried different set of pins, I also checked they are good at both INPUT and OUTPUT).

I always get `ERROR: The chip is not responding. Check your connection and/or wiring!` message when target chip connected (when it's not – then I get message that chip is not found).

I al

[2019-01-13 10:50] ReDetection commented on #27
OK, if I change resistors to 15k instead, then now it always give me random chip id – my guess that now cc2531 cannot change internal capacity of the pin quick enough. Hmm..
<img width="1432" alt="screenshot 2019-01-13 at 17 49 49" src="https://user-images.githubusercontent.com/458005/51084398-a1787680-175b-11e9-80f2-90d4a0659e0c.png">

[2019-01-13 13:39] ReDetection commented on #27
using 50k and 100k resistors it worked 🎉 probably internal pullup resistors are different chip to chip. now I'm able to read the flash

[2019-01-13 15:51] ReDetection commented on #24
I was able to do the thing using 50k and 100k resistors on DD line and 1.5k and 3k resistors on others. Please try too

[2019-01-13 17:14] ReDetection commented on #22
@balonchiks I was able to workaround this by lowering UART speed to 9600baud. Dunno why this worked ¯\_(ツ)_/¯

[2019-01-14 00:56] ReDetection commented on #24
BTW, DD is 2.1, and DC is 2.2. According to your schematics, you have it reversed

[2019-01-14 03:23] ReDetection commented on #27
and I also write succeed. cheers!

what is recommended way to make this knowledge shared? should I PR with just a note in readme or should I replace schematics, etc?

[2019-01-14 13:26] korol-sas commented on #24
Thank you, I will definitely check when there is free time, I will write about the results

[2019-01-14 14:39] wavesoft commented on #27
Hello @ReDetection !
I guess you are referring to the voltage divider resistors?

Please create a PR with the resistor values changed on the `README.md`, and if you can, also re-create the fritzing diagram with the new resistor symbols. If you cannot do it, I can do it later.

[2019-01-14 14:49] ReDetection commented on #27
yes, I mean them.

ok I can do that.

Actually I had 50k/100k only for DD. DC and reset I drove with 15k/30k resistors to be extra sure target device won't influence them. should I keep it 15/30 or stick to 50/100 in the readme, fritzing and arduino header?

btw, I was able to communicate with CC2531 and CC2541 target chips, I think I can also note they are working in the readme.

[2019-01-14 15:05] wavesoft commented on #27
Now that I think of it, let's create a troubleshooting section, right before the `Compatibility Table` section, and let's write your suggestion there. Something around the lines of:

This way we can add future corner cases there

[2019-01-15 22:56] yterza commented on #26
Hi, any news about ? Is there a workaround ? I tried to remove the two lines generating this issue in the hex file, but my CC2530 was not responding to my raspberry after flash. Don't know if it's coming from firmware or something else in my config/wiring... Thanks

[2019-01-24 16:07] ReDetection opened #29 "CC2541 16Kb?"
Hello again.

According to the `cc_info` output, my CC2541 chip has 16kb flash. In the datasheet however it's stated only 128kb and 256kb versions and markings on the chip itself tell me I have 256kb.

What is recommended way to find, verify and fix the issue?

[2019-01-24 17:00] ReDetection commented on #29
(output of `cc_info`)
<details>

[code]
</details>

[2019-01-25 03:05] ReDetection commented on #29
OK, according to datasheet:

So that explains why I got only chip id and statuses. After chip erase (`./cc_write_flash.py --erase` with any hex in the `--in=` parameter, even dump from `./cc_read_flash.py` would work just fine) everything is back to normal and reporting correct flash size 🎉

I think maybe it's a bad idea to try to read some particular register out of the chip if it's known to be d

[2019-02-03 12:25] bartekluk opened #30 "CC2531 license"
I have a CC2531 stick and I managed to flash it with a LinkJoin firmware but wanted to reflash it with something ProSecure only. Now I have a problem with the flasher asking for a license key.
So I have made up one but I get a following error now:
![image](https://user-images.githubusercontent.com/47295186/52176732-af477780-27ae-11e9-851f-f5149018a7d8.png)
What can I do to make it work?

[2019-02-03 15:32] #30 closed

[2019-02-19 11:53] wsowa commented on #27
Where does the "official" 100k/200k resistors values come from actually? I ask because they barely have a chance to work and no surprise they cause issues.

I've hooked up a scope into DD and DC lines and with 100k/200k resistors the signals look very distorted (rounded edges, signal barely manages to raise before falling). It seems like capacitance of pins, PCB and wireing has enough significance

[2019-05-29 18:11] tido- commented on #14
@vogler, can you explain or write the whole line where you used the `-E`?

@wavesoft, I have spent a few hours, but all I get on my Arduino Mega is this:
```ERROR: Could not detect a CCLib_proxy connected on any serial port```
I just flashed the BLINK-code to make sure the Arduino works, it does.
When I call cc_info.py the LED flashes like 2,5 times and then dark.  Here ```^CERROR:``` I hit Ctrl+c

[2019-06-05 08:14] vogler commented on #14
@tido Since Windows' cmd doesn't persist history I can't look it up, but I think it was just what I wrote above, i.e., `python2 cc_info.py -E`.
I tried to get it to work on macOS before, but that somehow didn't work.

https://github.com/wavesoft/CCLib/blob/master/Python/cclib/ccproxy.py#L134
From your output it seems like with Python 2 this line blocks, while with Python 3 it throws. Maybe print t

[2019-06-15 14:52] tido- commented on #14
@vogler, thank you for your quick reply. I tried it with your line.. still doesn't work.
Line 134, you mean to change the python code so, that it prints more details, than just the line @wavesoft defined?
How would you change the code ... I only read a book about C.

It looks like that wavesoft has abandoned, this neat work of his, two open commits are not merged.. if I am not wrong.
I looked now

[2019-06-15 16:12] vogler commented on #14
Then I would try this fork - the commits say it's adjusted for Python 3.
https://github.com/wavesoft/CCLib/blob/master/Python/cclib/ccproxy.py#L138-L143
You could just remove this try/catch to see which exception was thrown originally.

[2019-08-02 17:24] tido- commented on #27
if you have a Raspberry Pi (I am not a fan) you can just connect it and flash it. I wasted hours on the Arduino /ESP32 ideas. This just worked: https://github.com/jmichault/flash_cc2531

[2019-08-02 17:25] tido- commented on #14
if you have a Raspberry Pi (I am not a fan) you can just connect it and flash it. I wasted hours on the Arduino /ESP32 ideas. This just worked: https://github.com/jmichault/flash_cc2531

[2019-11-06 05:43] skandragon commented on #29
It might be nice if there was a way to do this through the command, like `--erase --empty-flash` or something.

[2020-02-28 11:03] connermacleod69 commented on #14
Hi,
I also struggled some time with this problem (Windows 10 64 bits)
Pyserial is installed!
python C:\Users\etadmin\Downloads\CCLib-master\CCLib-master\Python\cc_info.py
NOTE: Performing auto-detection (use -p to specify port manually)
INFO: Checking COM11
ERROR: Could not detect a CCLib_proxy connected on any serial port

This starts python3 on my computer!
After installing pyserial for Python27

[2020-05-31 20:50] rvt commented on #14
On OSX I could solve this by adding:

[code]

after time timeout in the routine that opens the serial port.

Apparently there are some characters in the input/output buffers. The current code does´t know how to 'align' itself so clearing the buffers helps here.

[2020-06-01 06:44] rvt commented on #20
Good observation!
I don´t think this really matters, the ccXXXX might already be fast enough for the pulses generated.

This worked for me though:

[code]

[2020-08-17 13:58] brunorchaves opened #31 "Support for cc2640"
Hi, I started to work with cc26040 but I don't have the dev kit to load the firmware on it, so I'm trying to use Arduino to do it.